# application-prod.yml / application-local.yml
spring:
  jpa:
    properties:
      hibernate:
        format_sql: false
        highlight_sql: false

logging:
  level:
    org.hibernate.SQL: INFO
    org.hibernate.orm.jdbc.bind: OFF
    org.hibernate.orm.jdbc.extract: OFF
